body {
    font-family: "メイリオ","Hiragino Kaku Gothic ProN", sans-serif !important;
}

@media (max-width: 768px){
    body {
        font-family: "メイリオ","Hiragino Kaku Gothic ProN", sans-serif !important;
        padding-right: 10px !important;
        padding-left: 10px !important;
    }

    div#grid-container-4 .btn{
        margin-top: 10px;
    }

}	
	
h2, .h2{
    font-size: 18px;
    padding-bottom: 6px;
    margin-bottom: 20px;
    border-bottom: solid 1px #cccccc;
    font-weight: bold;
    color: #666666;
}
@media (min-width: 992px){
.col-md-6 {
    width: 75% !important;
}
}
@media (min-width: 1200px){
.nav>li>a {
    padding: 12px 18px !important;
}
}
p {
    margin: 0 0 0 !important;
	line-height: 26px !important;
}
.h3, h3 {
    font-size: 18px !important;
	
}
.navbar-default .navbar-nav>li>a {
    color: #000 !important;
}
#violet-btn{
    margin-left: 17px;
    margin-top: 4px;
    background: #ce9add;
    color: #ffffff;
    text-decoration: none;
    padding: 20px 25px;
    border-radius: 5px;
}
#bluegreen-btn{
    margin-top: 4px;
    background: #5acbd8;
    color: #ffffff;
    text-decoration: none;
    padding: 20px 25px;
    border-radius: 5px;
}

#bluegreen-btn, #violet-btn{
    width: 47%;
    text-align: center;
}

#logo{
    display: block;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    margin-bottom: 5px
}

#logo img{
    width: 100%;
}

.navbar {
    margin-top: 10px;   
}

#sidebar .search-box{
    width: 100%;
    padding: 5px;
}

#sidebar .search-icon{
    position: relative;
    float: right;
    top: -25px;
    right: 15px;
    font-size: 19px;
    opacity: 0.5;
}

#sidebar ul li{
    list-style: none;
    margin-top: 5px;
}

#sidebar a{
    color: #444;
	font-size: 15px;
	line-height: 25px;
}
.grid-item a{
    color: #333;
}

#sidebar ul{
    padding-left: 0;
}

@media (max-width: 768px){
#sidebar ul{
    padding-left: 0;
	font-size: 22px;
	margin-top: 20px;
	font-weight: bold;
}
}

.user-info {
    display: block;
    width: 100%;
    margin: 5px;
    text-align: right;
}

.product-details-img{
    width: 100%;
}

.product-details-content{
    width: 100%;
}

.newsInfo .news-date{
    margin-bottom: 0;
}

.product-block h3 {
    margin-top: 10px;
}

@media (max-width: 768px){
.product-block h3 {
    margin-top: 15px;
	line-height: 26px;
	font-size: 16px !important;
}	
}
	
.product-block {
    margin-bottom: 30px;
}

.back-to-index, .view-details{
    background: #666666;
}

.product-block a.view-details{
    color: #fff;
}

.details-title{
    font-weight: bold;
}

.back-to-index{
    margin-top: 10px;
}

.top-gray{
    display: none;
}

@media (min-width: 768px){

    .top-gray{
        display: block;
    }

    .navbar-nav {
        float: none;
        text-align: left;
    }

    .navbar-collapse{
        padding-right: 0;
        padding-left: 0;
    }

    .navbar-nav>li {
        float: none;
        display: inline-block;
		font-size: 15px;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px ) { 

    div#grid-container-4 {
        display: grid;
        grid-template-columns: 23% 23% 23% 23%;
        grid-gap: 18px;
        padding: 10px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    div#grid-container-4 .btn{
        padding: 30px 5px;
        outline: 1px solid #fff;
        outline-offset: -5px;
    }

    .back-to-index{
        margin-top: 25px;
    }

    .digital-lib{
        margin: 45px auto 15px;
    }    

    #logo img{
        width: auto;
    }

    #bluegreen-btn, #violet-btn {
        width: 170px;
        text-align: center;
        font-size: 16px;
    }

    #logo{
        width: auto;
        margin-bottom: 0;
    }

    .user-info{
        width: auto;
        margin: 0;
    }

    #sidebar .search-icon{
        top: -52px;
    }

    .top-gray{
        height: 25px;
        background: #414141;
        color: #fff;
        font-size: 13px;
		margin-top: -1px;
    }
    .top-gray p{
        margin-top: 8px;
        line-height: 13px;
    }
    body{
        padding-top: 0;
    }
       
    a:hover{
        opacity: 0.7;
    }
    
    .logo-row{
        padding-top: 14px;
        padding-bottom: 14px;
    }
    .color-row{
        z-index: 1;
        position: relative;
    }
    
    .color-row div{
        width: 12.5%;
        height: 3px;
        display: inline-block;
        padding: 0;
        float: left;
    }
    .color-row .half{
        width: 6.25%;
    }
    
    .color-1{
        background: #c77ad9;
    }
    
    .color-2{
        background: #5acbd8;
    }
    .color-3{
        background: #74e1cf;
    }
    .color-4{
        background: #9fd07c;
    }
    .color-5{
        background: #f4e381;
    }
    .color-6{
        background: #d885b2;
    }
    .color-7{
        background: #7fc3dd;
    }
    .color-8{
        background: #ce9add;
    }
    .color-9{
        background: #b6b6b6;
    }
    .navbar-default{
        background-color: #fff;
        border-color: #fff;
        margin-bottom: 0;
    }
    #menu-shadow{
        height: 5px;
        background: #ededed;
        margin-bottom: 20px;
    }
    
    #sidebar li{
        list-style: none;
    }
    #sidebar ul{
        padding-left: 10px;
    }
    .main-list-content{
        background: #f7f7f7;
        padding: 25px;
        border-radius: 5px;
    }  
    h2{
        font-size: 19px;
        padding-bottom: 6px;
		margin-bottom: 20px;
        border-bottom: solid 1px #cccccc;
        font-weight: bold;
        color: #666666;
    }  
    #sidebar .search-box{
        background: #f5f5f5;
        padding: 15px;
        border: none;
        border-radius: 5px;
        width: 100%;
        margin-bottom: 14px;
        margin-top: 23px;
        font-size: 15px;
    }
    
    #top-footer{
        background: #6ab1d4;
        color: #fff;
        padding: 30px;
        margin-top: 50px;
    }
    
    #bottom-footer{
        background: #5890ae;
        color: #fff;
        padding: 30px;
    }
    
    .product-block{
        margin-bottom: 0;
    }
    
    .product-block h3{
        margin-top: 15px;
        margin-bottom: 15px;
        line-height: 24px;
		font-size: 16px !important;
    }
    
    .product-block a{
        color: #000;
    }
    
    .product-block:hover{
        opacity: 0.8;
    }
    
    .product-block p{
        margin-bottom: 3px;
    }
    
    .product-block a:hover, a:active
    {
        text-decoration: none;
    }
    
    .iframe-pdf{
        width: 100%;
        min-height: 800px;
    }
    
    .newsInfo{
        /* margin-bottom: 35px; */
    }
    
    #top-footer a{
        color: #ffffff;
        /* text-decoration: underline; */
    }
    
    .view-pdf{
        background: #0066cc;
        border-color: #0066cc;
		margin-top: 25px;
		margin-right: 10px;
    }
    
    .download-pdf{
        background: #339999;
        border-color: #339999;
		margin-top: 25px;
		margin-right: 10px;
    }
    
    .product-details-img{
        width: 33%;
        margin-right: 40px;
        margin-top: 20px;
    }

    .product-details-content{
        width: 60%;
    }
    
    .user-info a{
        color: #ffffff;
    }

    .pl0{
        padding-left: 0;
    }
    
    .grid-container {
        display: grid;
        grid-template-columns: 32% 32% 32%;
        grid-gap: 18px;
        padding: 10px;
    }
    
    .grid-item {
        padding: 0px;
    }

    .nav>li>a {
        padding: 10px 5px;
    }

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

    .nav>li:first-child>a {
        padding: 10px 15px 10px 0 !important;
    }

    .nav>li>a {
        padding: 10px 15px;
    }

}
